.UserInput {
  text-align: center;
}

.UserInput label {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

.UserInput input {
  margin-right: 2.5rem;
  width: 7.5rem;
}

.UserInput button {
  display: inline-block;
  width: 30%;
  margin: 2.5rem 3rem 1rem;
  background-color: rgba(0, 128, 0, 0.5);
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #fff;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: white;
}

.UserInput button:last-of-type {
  background-color: rgba(255, 0, 0, 0.5);
  margin: 1rem auto;
}

.UserInput button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.UserInput button:active {
  transform: scale(1);
}

.UserInput button:focus {
  outline: none;
}
